### Understanding Descriptive Statistics
Descriptive statistics is about describing and summarizing data. It uses two main approaches:
1. The quantitative approach describes and summarizes data numerically.
2. The visual approach illustrates data with charts, plots, histograms, and other graphs.

#### Types of Measures

##### Central tendency
tells you about the centers of the data. Useful measures include the mean, median, and mode.

##### Variability
tells you about the spread of the data. Useful measures include variance and standard deviation.

##### Correlation or joint variability
tells you about the relation between a pair of variables in a dataset. Usefulmeasures include covariance and the
correlation coefficient.

##### An outlier is a data point that diff ers significantly from the majority of the data taken from a sample or population. There are many possible causes of outliers, but here are a few to start you off :

1. Natural variation in data
2. Change in the behavior of the observed system
3. Errors in data collection

##### Libraries for Stats

1. import math
2. import statistics
3. import numpy
4. import scipy.stats
5. import pandas

In [1]:
#Finding mean value with any of these
import numpy as np
# Creating a numpy array for stats
a = np.array([[10,20,40],[60,70,80],[30,50,90]])
a

array([[10, 20, 40],
       [60, 70, 80],
       [30, 50, 90]])

In [2]:
np.mean(a)

50.0

In [3]:
np.average(a)

50.0

In [9]:
#creating a weighted values for the array
w = [2,3,4]

In [12]:
#need to provide axis because it cant take 3 elements for 9 elements in array
#row weighted average 
np.average(a,weights=w,axis=1)

array([26.66666667, 72.22222222, 63.33333333])

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('bodyPerformance.csv')
#Bring out the whole numberical data
num_data = df.select_dtypes(exclude='object')
num_data

,age,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm
0,27.0,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0
1,25.0,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0
2,31.0,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0
3,32.0,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0
4,28.0,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0
...,...,...,...,...,...,...,...,...,...,...
13388,25.0,172.1,71.80,16.2,74.0,141.0,35.8,17.4,47.0,198.0
13389,21.0,179.7,63.90,12.1,74.0,128.0,33.0,1.1,48.0,167.0
13390,39.0,177.2,80.50,20.1,78.0,132.0,63.5,16.4,45.0,229.0
13391,64.0,146.1,57.70,40.4,68.0,121.0,19.3,9.2,0.0,75.0
13392,34.0,164.0,66.10,19.5,82.0,150.0,35.9,7.1,51.0,180.0

In [39]:
num_data.isna().sum()

age                        0
height_cm                  0
weight_kg                  0
body fat_%                 0
diastolic                  0
systolic                   0
gripForce                  0
sit and bend forward_cm    0
sit-ups counts             0
broad jump_cm              0
dtype: int64

In [15]:
#stat functions on numerical data
num_data.mean()

age                         36.775106
height_cm                  168.559807
weight_kg                   67.447316
body fat_%                  23.240165
diastolic                   78.796842
systolic                   130.234817
gripForce                   36.963877
sit and bend forward_cm     15.209268
sit-ups counts              39.771224
broad jump_cm              190.129627
dtype: float64

In [20]:
num_data['diastolic'].mean()

78.79684163368923

In [21]:
num_data.diastolic.mean()

78.79684163368923

In [18]:
num_data['body fat_%'].mean()

23.240164950869843

In [19]:
# make sure the naming conventions important while passing most of the time single words.
num_data.body fat_%.mean()

SyntaxError: invalid syntax (Temp/ipykernel_12424/2597750637.py, line 1)

In [24]:
#finding the same mean with stats library
import statistics as st

In [25]:
st.mean(num_data['body fat_%'])

23.240164950869858

In [28]:
st.harmonic_mean(num_data['body fat_%'])

20.766092233445065

In [29]:
st.geometric_mean(num_data['body fat_%'])

22.053450257160534

In [30]:
#finding the same mean with stats library
import scipy.stats as sc

In [31]:
sc.gmean(num_data['body fat_%'])

22.053450257160534

In [32]:
sc.hmean(num_data['body fat_%'])

20.766092233445065

In [34]:
st.variance(num_data['body fat_%'])

52.66178600041373

In [35]:
st.stdev(num_data['body fat_%'])

7.256844079929906

In [36]:
st.quantiles(num_data['body fat_%'])

[18.0, 22.8, 28.0]